---
import PageContentMenu from "./PageContentMenu.jsx"
---

<div class="md:sticky top-52">
    <div class="menu-container m-8 box">
        <div id="search"></div>
    </div>
    <div class="page-content-menu menu-container m-8 box">
        <PageContentMenu client:load />
    </div>
</div>

<style>
    .menu-container {
        width: min(400px, 85%);
    }
</style>

<style is:global>
    /* declared in PageContentMenu.jsx */
    .menu-items-container > .section {
        @apply text-xl my-4 ml-4 relative;
        left: -50%;
    }
    .menu-items-container .section-name {
        @apply relative transition hover:scale-110;
    }
    .menu-items-container .sub-section {
        @apply transition hover:scale-110;
    }
    /* the arrow image */
    .menu-items-container .sub-section > img {
        filter:hue-rotate(120deg) brightness(120%);
        height: 20px;
    }
    .navigate-item {
        @apply relative;
        top: -20vh;
    }
    @media screen(md) {
        .page-content-menu {
            max-height: 50vh !important;
            overflow: scroll;
            scrollbar-width: none;
        }
        .page-content-menu::-webkit-scrollbar {
            display: none;
        }
    }
</style>